/*  12.0 ===== Medias/Responsive =====   */

/*
 * Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */

@-ms-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

@media only screen and (max-width: 1299px) {
    .product-item-wrapper {
        margin: 0 -15px;
    }

    .product-item {
        margin: 0 15px 100px;
    }

    .available-item-wrapper {
        margin: 0 -15px;
    }

    .available-item {
        padding: 0 15px;
    }
}

/* All Tablet Portrait size smaller than standard 1199 (devices and browsers) */

@media only screen and (max-width: 1200px) {
    .site-branding {
        width: 240px;
    }

    .site-branding img {
        max-width: 100%;
    }

    .hgroup-right {
        width: 75%;
        width: calc(100% - 240px);
        width: -webkit-calc(100% - 240px);
    }

    .menu-top-menu-container>ul>li {
        margin: 0px 12px 0px;
        padding-bottom: 45px;
        padding-top: 45px;
    }

    .main-navigation ul li a {
        font-size: 16px;
    }

    .site-header {
        padding-top: 110px;
    }

    .banner-title,
    .banner-text p {
        font-size: 45px;
    }

    .banner-section {
        padding: 135px 0 160px;
    }

    .site-content section.product-section {
        padding: 80px 0 10px;
    }

    .entry-header.heading .entry-title {
        font-size: 32px;
    }

    .product-item-wrapper {
        padding-top: 15px;
    }

    .product-item .entry-title {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .call-order {
        font-size: 16px;
    }

    .product-item {
        margin: 0 15px 60px;
        width: 30.2%;
        width: calc(33.3333% - 30px);
        width: -webkit-calc(33.3333% - 30px);
    }


    .custom-labels-image-wrap {
        padding-left: 40px;
    }

    .about-image-wrap {
        width: 520px;
    }

    .about-content {
        width: 47%;
        width: calc(100% - 520px);
        width: -webkit-calc(100% - 520px);
    }

    .site-content section {
        padding: 70px 0 70px;
    }

    .site-content section.available-section {
        padding-bottom: 40px;
    }

    .site-content section.custom-labels {
        padding: 55px 0 60px;
    }

    .available-item .featured-image {
        height: 200px;
        width: 200px;
    }

    .available-item .entry-title {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .box-button,
    input[type="submit"],
    .wpcf7 input[type="submit"] {
        font-size: 16px;
        padding: 15px 35px;
        letter-spacing: 1px;
    }

    .home-contact-item:nth-child(2n) {
        padding-left: 35px;
    }

    .home-contact-item {
        padding: 20px 35px;
    }

    .site-content section.home-contact-section {
        padding: 70px 0 16px;
    }

    .site-footer {
        padding: 35px 0 65px;
    }
}

/* All Tablet Portrait size smaller than standard 1023 (devices and browsers) */

@media only screen and (max-width: 1023px) {
    .sticky-menu-wrap li a {
        font-size: 14px;
    }

    .container {
        max-width: 100%;
    }

    .menu-top-menu-container>ul>li {
        margin: 0px 10px 0px;
    }

    .main-navigation ul li a {
        font-size: 15px;
    }

    .header-call-info a {
        font-size: 18px;
    }

    .banner-section {
        padding: 100px 0 120px;
    }

    .site-content section.product-section {
        padding: 70px 0 10px;
    }

    .product-item .entry-title {
        font-size: 18px;
        padding: 0 5px;
    }

    .site-content section {
        padding: 60px 0 50px;
    }

    .copy-right {
        padding: 20px 0;
    }

    .site-footer {
        padding: 35px 0 40px;
    }

    p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 991px) {
    .hgroup-wrap {
        position: relative;
    }

    .mean-container .mean-bar {
        width: 50px;
    }

    .mean-container .mean-nav {
        float: none;
        width: 100%;
        position: absolute;
        right: 0;
        top: 99px;
    }

    .sticky-header .mean-container .mean-nav {
        top: 76px;
    }

    .main-navigation li.current-menu-item::after,
    .main-navigation ul li.current_page_item::after {
        width: auto;
    }

    .site-branding {
        max-width: 200px;
        width: auto;
        margin: 11px 0;
    }

    .sticky-header .site-branding {
        margin: 4px 0;
    }

    .sticky-header .site-branding img {
        max-width: 90%;
    }

    .navbar {
        position: static;
    }

    .hgroup-right {
        padding-left: 0;
        padding-right: 35px;
    }

    .mean-container a.meanmenu-reveal {
        width: 30px;
        height: 34px;
    }

    .mean-container .mean-nav ul li {
        margin: 0;
    }

    .meanmenu-reveal.meanclose span:nth-child(2n) {
        opacity: 0;
    }

    .mean-container .mean-nav ul li a:hover {
        background: var(--primary);
    }

    .mean-container a.meanmenu-reveal {
        padding: 0;
        top: 33px;
        bottom: 0;
        margin: auto;
        right: 5px !important;
    }

    .mean-container .mean-nav>ul {
        background: rgba(21, 21, 22, 0.9);
        width: 100%;
        margin: 0;
        z-index: 9;
        left: 0 !important;
    }

    .main-navigation ul li.menu-item-has-children>a::after {
        display: none;
    }

    .main-navigation ul ul {
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform-origin: none;
        transition: all 0s ease 0s;
        -webkit-transition: all 0s ease 0s;
        -moz-transition: all 0s ease 0s;
        -o-transition: all 0s ease 0s;
        margin: 0;
        position: static;
        top: 0px;
        white-space: none;
        z-index: 999;
        min-width: 100%;
        box-shadow: none;
    }

    .main-navigation ul li.menu-item-has-children>ul>li.menu-item-has-children>a::after {
        display: none;
    }

    .main-navigation li li {
        border-bottom: none;
    }

    .mean-container .mean-nav ul ul {
        background: none;
    }

    .main-navigation ul li:hover ul {
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }

    .main-navigation ul>li>a::before,
    .main-navigation ul>li>a::after {
        display: none;
    }

    .mean-container .mean-nav ul li a.mean-expand {
        background: var(--primary);
        line-height: 1.1;
        border-left: 1px solid rgba(255, 255, 255, 0.4);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }

    .mean-container .mean-nav ul li a.mean-expand::before,
    .main-navigation ul>li>a.mean-expand::before {
        content: "\f107";
        font-family: "FontAwesome";
        line-height: 1.4;
        display: block;
        opacity: 1;
        top: 10px;
        margin: auto;
        background: none;
        height: 20px;
        width: 15px;
        right: 0;
        left: 0;
        margin: auto;
        top: 0;
    }

    .mean-container .mean-nav ul li a.mean-expand:hover {
        background: var(--secondary);
    }

    .main-navigation ul>li>a:hover,
    .main-navigation ul>li.current-menu-item>a {
        color: var(--white);
        background: var(--primary);
    }

    .mean-container .meanmenu-reveal span,
    .mean-container .meanmenu-reveal span::before,
    .mean-container .meanmenu-reveal span::after,
    .mean-container .meanmenu-reveal.meanclose span::before,
    .mean-container .meanmenu-reveal.meanclose span::after {
        background: var(--primary);
    }

    h4,
    h3,
    h2 {
        font-size: 20px;
    }

    .main-navigation ul li.menu-item-has-children>a::before {
        display: none;
    }

    .site-branding img {
        max-width: 100%;
    }

    .site-header {
        padding-top: 100px;
    }

    .main-navigation ul li a {
        font-size: 14px;
    }

    .hgroup-right {
        padding-right: 10px;
    }

    .header-call-section {
        width: 200px;
    }

    .banner-title,
    .banner-text p {
        font-size: 32px;
    }

    .banner-section {
        padding: 80px 0 100px;
    }

    .site-content section.product-section {
        padding: 60px 0 10px;
    }

    .product-item {
        margin: 0 15px 40px;
        width: 46%;
        width: calc(50% - 30px);
        width: -webkit-calc(50% - 30px);
    }

    .entry-header.heading .entry-title {
        font-size: 24px;
    }

    .product-item-wrapper {
        padding-top: 0;
    }

    .custom-labels-content {
        width: 330px;
    }

    .custom-labels-image-wrap {
        width: 55%;
        width: calc(100% - 330px);
        width: -webkit-calc(100% - 330px);
        padding-left: 30px;
    }

    .about-image-wrap {
        width: 350px;
        padding: 20px 0 0 20px;
    }

    .about-image-wrap .featured-image::before {
        left: -20px;
        top: -20px;
    }

    .about-content {
        width: 52%;
        width: calc(100% - 350px);
        width: -webkit-calc(100% - 350px);
        padding-left: 40px;
    }

    .available-item-wrapper {
        padding-top: 10px;
    }

    .available-item {
        width: 50%;
        margin-bottom: 50px;
    }

    .site-content section.available-section {
        padding-bottom: 10px;
    }

    .available-item .entry-title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .home-contact-item {
        padding: 15px 15px;
    }

    .home-contact-content h3 {
        font-size: 18px;
    }

    .home-contact-content span,
    .home-contact-content a {
        font-size: 14px;
    }

    .home-contact-content {
        padding-left: 15px;
    }

    .site-footer {
        padding: 35px 0 20px;
    }

    .hgroup-right {
        width: 54%;
        width: calc(100% - 200px);
        width: -webkit-calc(100% - 200px);
        padding-left: 20px;
    }

    .main-navigation ul>li.active>a {
        color: var(--secondary)
    }




}

/* All Mobile Portrait size smaller than 768 (devices and browsers) */

@media only screen and (max-width: 767px) {

    .mean-container .mean-nav>ul {
        max-height: 260px;
        overflow-x: auto;
    }

    .banner-title,
    .banner-text p {
        font-size: 26px;
    }

    .home-contact-item {
        min-width: 100%;
        margin: 0 0 10px;
    }

    .home-contact-item:first-child {
        border-radius: 100px 100px 0 0;
    }

    .home-contact-item:last-child {
        border-radius: 0 0 100px 100px;
    }

    .banner-section {
        padding: 60px 0 70px;
    }

    .site-content section.product-section {
        padding: 40px 0 10px;
    }

    .entry-header.heading .entry-title {
        font-size: 22px;
    }

    .custom-labels-content-wrap {
        display: block;
    }

    .custom-labels-content {
        width: 100%;
        margin-bottom: 30px;
    }

    .custom-labels-image-wrap {
        width: 100%;
        padding-left: 0;
    }

    .site-content section.custom-labels {
        padding: 45px 0 35px;
    }

    .site-content section {
        padding: 50px 0 40px;
    }

    .about-content-wrap {
        display: block;
    }

    .about-image-wrap {
        margin: 0 auto 30px;
    }

    .about-content {
        width: 100%;
        padding-left: 0px;
    }

    .about-content .entry-header.heading {
        margin-bottom: 0;
    }

    .available-item .entry-title {
        font-size: 18px;
    }

    .box-button,
    input[type="submit"],
    .wpcf7 input[type="submit"] {
        font-size: 14px;
        padding: 15px 30px;
    }

    .site-content section.home-contact-section {
        padding: 60px 0 16px;
    }

    .home-contact-item,
    .home-contact-item:nth-child(2n) {
        padding: 20px 65px;
    }

    .copy-right {
        padding: 15px 0;
    }

    .footer-branding {
        margin-bottom: 30px;
    }
    .how-it-work-wrapper, .getting-started-wrapper, .who-can-benefit-wrapper, .copy-right{
        display: block;
    }
    .banner-section figure, .how-it-work-content, .how-it-work-section figure, .who-can-benefit-content, .who-can-benefit-content figure, .getting-started-content, .getting-started-section figure{
        margin: 0px;
    }
    .banner-section figure, .how-it-work-content, .how-it-work-section figure, .who-can-benefit-content, .who-can-benefit-content figure, .getting-started-content, .getting-started-section figure{
        width: 100%;
        padding: 10px 0;
        
    }
    .copy-right ul{
        justify-content: center;
        margin-left: 0;
    }


    
}

@media only screen and (max-width: 567px) {

    body,
    .box-button,
    input[type="submit"],
    .wpcf7 input[type="submit"],
    .give-btn,
    .nav-links a,
    .back-to-top a {
        font-size: 14px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 10px;
    }

    .site-header {
        padding-top: 98px;
    }

    .established-date {
        height: 100px;
        width: 100px;
        padding: 20px 15px;
    }

    .product-item {
        margin: 0 0px 30px;
        width: 100%;
        padding-bottom: 30px;
    }

    .product-item-wrapper {
        margin: 0;
        display: block
    }

    .product-item .featured-image {
        margin-bottom: 30px;
    }

    .about-content .entry-header.heading p {
        font-size: 16px;
    }

}

/* All Mobile size smaller than standard 479 (devices and browsers) */

@media only screen and (max-width: 479px) {
    .site-branding {
        max-width: 150px;
        margin: 6px 0;
    }

    .header-call-section {
        display: none;
    }

    .site-header {
        padding-top: 70px;
    }

    .mean-container .mean-nav {
        top: 69px;
    }

    .sticky-header .mean-container .mean-nav {
        top: 60px;
    }

    .banner-title,
    .banner-text p {
        font-size: 22px;
    }

    .established-date {
        height: 90px;
        width: 90px;

    }

    .established-date span {
        font-size: 18px;
    }

    .established-date h3 {
        font-size: 20px;
    }

    .banner-section {
        padding: 50px 0 50px;
    }

    .entry-header.heading .entry-title {
        font-size: 20px;
        padding-bottom: 5px;
    }

    .site-content section.product-section {
        padding: 30px 0 10px;
    }

    .call-order {
        font-size: 14px;
    }

    .site-content section.custom-labels {
        padding: 35px 0 30px;
    }

    .about-image-wrap {
        width: 280px;
    }

    .available-item-wrapper {
        display: block;
    }

    .available-item {
        width: 100%;
    }

    .site-content section {
        padding: 40px 0 35px;
    }

    .home-contact-item,
    .home-contact-item:nth-child(2n) {
        padding: 20px 45px;
    }

    .copy-right p {
        font-size: 14px;
    }
}